/* line 3, ../src/style.scss */
.tabs__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
}
/* line 12, ../src/style.scss */
.tabs__item {
  padding: 1rem;
  background-color: #353535;
  flex: 1;
  text-align: center;
  position: relative;
}
/* line 20, ../src/style.scss */
.tabs__item:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
}
/* line 31, ../src/style.scss */
.tabs__item a {
  color: white;
}
/* line 34, ../src/style.scss */
.tabs__item:hover, .tabs__item--active {
  cursor: pointer;
}
/* line 36, ../src/style.scss */
.tabs__item:hover:after, .tabs__item--active:after {
  display: block;
}
